.emotion__wrap {
  background-color: var(--grayColor1);
  padding: 1.6rem;
  border-radius: var(--borderRadius);
  margin-top: 2rem;
}

.emotions {
  --col: 2;
  --gap: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-right: calc(-1 * var(--gap));

  .emotion {
    width: calc(100% / var(--col) - var(--gap));
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    transition: all 0.3s;

    &.active {
      background-color: var(--mainColor);

      span {
        color: var(--textColorWhite);
      }

      .emoji {
        background-color: transparent;
      }
    }

    .emoji {
      background-color: var(--grayColor);
      border-radius: 50%;
      transition: all 0.3s;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    span {
      font-size: 1.6rem;
      color: var(--textColorGray);
    }
  }
}
