.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: calc(var(--headerHeight) + 6rem);
    padding-bottom: 6rem;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex-shrink: 0;
    font-family: 'Times New Roman', Times, serif;

    @media screen and (max-width: 767px) {
      text-align: center;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-size: 4.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 2.4rem;
  }

  &__btn {
    margin-top: 3.5rem;
    cursor: pointer;
    padding: 1rem 3rem;
    align-self: flex-start;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #fff;
    position: relative;

    @media screen and (max-width: 767px) {
      align-self: unset;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50px;
      padding: 4px;
      background: linear-gradient(to left, #743ad5, #d53a9d);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__img {
    max-width: 55rem;
  }
}
