.sidebar {
  position: fixed;
  left: 0;
  top: var(--headerHeight);
  width: var(--sidebarWidth);
  height: 100%;
  padding: 1rem 2rem;
  background-color: var(--textColorWhite);
  z-index: 100;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    color: var(--textColorGray);
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: var(--borderRadius);

    &.active {
      color: var(--mainColor);
      background-color: #f8f3fb;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
    }
  }

  @media screen and (max-width: 767px) {
    width: 9.6rem;
    overflow-x: hidden;

    &__link span {
      display: none;
    }
  }
}
