.post {
  display: flex;
  flex-direction: column;
  background-color: var(--textColorWhite);
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 1.8rem 1rem 1.8rem;
  }

  &__bottom {
    padding: 0.5rem;
    border-top: 1px solid var(--borderColor);
    overflow: hidden;
  }
}

.info {
  display: flex;
  align-items: center;
  column-gap: 1.4rem;

  .user_name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--textColorBlack);
    margin-bottom: 0.5rem;
  }

  .created_at {
    font-size: 1.2rem;
    color: var(--textColorGray);
  }
}

.actions {
  position: relative;

  &_btn {
    height: 3.6rem;
    width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--grayColor1);
    cursor: pointer;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--textColorGray);
    }
  }
}

.content {
  font-size: 1.6rem;
  color: var(--textColorGray);
  padding: 0 1.8rem 1rem 1.8rem;
}

.figures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.8rem 1rem 1.8rem;

  .total_like {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    color: var(--textColorGray);

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      font-size: 1.6rem;
    }
  }

  .total_comment {
    font-size: 1.6rem;
    color: var(--textColorGray);
  }
}

.interacts {
  --col: 3;
  --gap: 1rem;
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  margin-right: calc(-1 * var(--gap));

  .like,
  .comment,
  .share {
    width: calc(100% / var(--col) - var(--gap));
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.6rem;
    color: var(--textColorGray);
    cursor: pointer;
    padding: 0.5rem 0;
    border-radius: var(--borderRadius);
    transition: all 0.3s;

    &:hover {
      background-color: var(--grayColor1);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .like.liked {
    color: var(--mainColor);
    font-weight: 600;
  }
}
