@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --headerHeight: 6rem;
  --bgColor: #f0f2f5;
  --sidebarWidth: 24rem;
  --borderRadius: 4px;
  --borderRadius1: 10px;
  --borderRadius2: 13px;
  --borderRadius3: 16px;
  --textColorBlack: #000;
  --textColorWhite: #fff;
  --fds-black: #000000;
  --fds-white: #fff;
  --fds-gray: #fcfcfc;
  --fds-gray-1: #999;
  --fds-gray-2: #b5b5b5;
  --fds-gray-3: #888da8;
  --fds-gray-4: #e8e8e8;
  --fds-gray-5: #6c6f73;
  --fds-gray-6: #f7f7f7;
  --fds-gray-7: #757a91;
  --fds-gray-8: #363636;
  --fds-gray-9: #393a4f;
  --textColorGray: #5a5a5a;
  --mainColor: #a56ffd;
  --grayColor: #747474;
  --grayColor1: #f7f7f7;
  --borderColor: #e5e5e5;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --surface-background: #ffffff;
  --boxShadow-1: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  --boxShadow-2: 0 1px 2px var(--shadow-2);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

input,
textarea,
button {
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
}

button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 1.5rem;
}
