.homepage {
  background-color: #f0f2f5;
  min-height: calc(100vh - var(--headerHeight));
  padding: 3rem;
}

.feed {
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
}

.post_list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
