.sidebar {
  position: fixed;
  padding: 6rem 2rem;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30rem;
  background-color: #fff;
  z-index: 102;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: translateX(110%);
  transition: transform 0.3s ease;
  font-family: 'Poppins', sans-serif;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }

  &__link {
    color: #000;
    font-size: 1.6rem;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &.active {
    transform: translateX(0);
  }
}
